#footer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-size: 0.9rem;
}

.footer-content {
  position: relative;
  width: 100%;
  height: auto;
  flex: 1 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-content: space-between;
  color: grey;

  background-color: #181818;
  background-image: url('/darthvader_2x.jpg');
  min-height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-content-item {
  width: calc(100% / 3);
  text-align: center;
}

.footer-content-item--full-width {
  width: 100%;
  padding: 3rem;
}

.footer-content-item-list {
  list-style-type: none;
}

.footer-content-item-list li {
  padding: 0.5rem;
}

.footer-content-item-list a {
  color: grey;
}

.footer-content-social-label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.footer-content-social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  padding: 8px;
}

@media screen and (max-width: 696px) {
  #article-1 {
    text-align: center;

  }

  .footer-content-item {
    display: flex;
    width: 50%;
  }

  .footer-content-item-list {
    padding: 0;
    margin: auto;
  }

  .footer-content {
    background-image: url('/darthvader.jpg');
    align-content: stretch;
  }

  .footer-content-item--full-width {
    display: none;
  }

  .footer-content-social {
    width: 100%;
  }

  .footer-content-social-label {
    width: 50%;
  }
  .footer-content-social-icons {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .footer-content {
    background-size: cover;
  }
}
