.header {
  width: 100%;
}

.header-logo {
  max-width: 100%;
  min-width: 100%;
  padding-top: 7%;
  background-image: url('/header-bg-2x.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 696px) {
  .header-logo {
    background-image: url('/header-bg.png');
  }
}
