.transition-container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transition-stormtroopers {
  min-height: 500px;
  background-image: url('/stormtroopers-2x.jpg');
}

.transition-kiloren {
  min-height: 1000px;
  background-image: url('/kiloren-2x.jpg');
}

.transition-image {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 100%;
  min-height: 500px;
  height: auto;
  width: auto;
}

.transition-image--small {
  display: none;
}

@media screen and (max-width: 696px) {
  .transition-stormtroopers {
    min-height: 250px;
    background-image: url('/stormtroopers.jpg');
  }

  .transition-kiloren {
    min-height: 500px;
    background-image: url('/kiloren.jpg');
  }
  .transition-image--big {
    display: none;
  }

  .transition-image--small {
    display: block;
  }
}
