.transition-container {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transition-stormtroopers {
  min-height: 250px;
  background-image: url('/stormtroopers-2x.jpg');
}

.transition-kiloren {
  min-height: 500px;
  background-image: url('/kiloren-2x.jpg');
}

@media screen and (min-width: 1440px) {
  .transition-stormtroopers {
    min-height: 500px;
  }

  .transition-kiloren {
    min-height: 1000px;
  }
}

@media screen and (max-width: 696px) {
  .transition-stormtroopers {
    min-height: 250px;
    background-image: url('/stormtroopers.jpg');
  }

  .transition-kiloren {
    min-height: 500px;
    background-image: url('/kiloren.jpg');
  }
}
