body,
html {
  height: 100vh;
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-flow: column nowrap;
}

em {
  text-decoration: underline;
  font-style: normal;
}
